@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas%20Neue&display=swap");
@import url("https://fonts.googleapis.com/css?family=Alfa%20Slab%20One&display=swap");
body {
  max-width: 1440px;
  background-color: #ffffff;
  overflow-x: hidden;
  box-sizing: border-box; }

.header {
  padding: 57px;
  background-color: #ffc045; }
  .header .logo-contact {
    display: flex;
    justify-content: space-between; }
    .header .logo-contact .logo {
      height: 60px; }
    .header .logo-contact .contact {
      display: flex;
      align-items: center; }
      .header .logo-contact .contact .logo-vehicle {
        padding-right: 12px;
        height: 33px; }
      .header .logo-contact .contact .phone {
        font-size: 17px;
        line-height: 71px;
        color: #3d2514;
        font-weight: 700;
        font-family: "Montserrat";
        text-align: right;
        margin: 0; }
  .header .menu {
    display: flex;
    float: right; }
    .header .menu .menu-items {
      list-style: none; }
      .header .menu .menu-items a {
        text-decoration: none;
        margin-left: 60px;
        font-size: 21px;
        letter-spacing: 4px;
        color: #3d2514;
        font-weight: 700;
        font-family: "Bebas Neue";
        transition: 0.3s ease; }
      .header .menu .menu-items a:hover {
        opacity: 0.5; }
  .header .header-content {
    display: flex;
    margin-top: 78px;
    justify-content: space-between; }
    .header .header-content .info p {
      width: 80%;
      font-size: 24px;
      line-height: 33px;
      color: #3d2514;
      font-weight: 400;
      font-family: "Bebas Neue";
      padding: 8px;
      margin: 0;
      border: 2px dashed #3d2514;
      text-align: center; }
    .header .header-content .info h1 {
      font-size: 114px;
      line-height: 62px;
      color: #3d2514;
      font-weight: 400;
      font-family: "Alfa Slab One";
      filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
      margin: 35px 0 25px 0; }
    .header .header-content .info h3 {
      font-size: 56px;
      line-height: 62px;
      color: #3d2514;
      font-weight: 400;
      font-family: "Alfa Slab One";
      filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
      margin: 0; }
    .header .header-content .img {
      margin-left: 170px;
      position: relative; }
      .header .header-content .img img {
        max-width: 715px;
        max-height: 534px; }
      .header .header-content .img .sale {
        width: 174px;
        height: 174px;
        border-radius: 100%;
        background-color: #bf2222;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 65%; }
        .header .header-content .img .sale .sale-netdut {
          width: 151px;
          height: 151px;
          border-radius: 100%;
          background-color: #bf2222;
          border: 2px dashed #ffffff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .header .header-content .img .sale .sale-netdut h2 {
            font-size: 70px;
            line-height: 38px;
            color: #ffffff;
            font-weight: 700;
            font-family: "Bebas Neue";
            text-align: center;
            margin: 0; }
            .header .header-content .img .sale .sale-netdut h2 span {
              font-size: 30px; }
          .header .header-content .img .sale .sale-netdut .only {
            font-size: 30px;
            color: #ffffff;
            font-weight: 700;
            font-family: "Bebas Neue";
            text-align: center;
            margin-top: 7px; }

.try-it-today-product {
  margin: 78px 110px 0 110px;
  height: 420px;
  display: flex;
  justify-content: space-between; }
  .try-it-today-product .try-it-today {
    font-size: 25px;
    line-height: 38px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Bebas Neue";
    margin: 30px 0 0 30px; }
  .try-it-today-product .try-it-today-info {
    font-size: 43px;
    display: block;
    line-height: 38px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Bebas Neue";
    margin: 0 0 0 30px; }
  .try-it-today-product .block-big {
    width: 49%;
    background-image: url("/img/3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px; }
  .try-it-today-product .block-smail-2 {
    margin-left: 47px;
    width: 51%;
    display: flex;
    flex-direction: column; }
    .try-it-today-product .block-smail-2 .top {
      background-image: url("/img/1.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 192px;
      border-radius: 16px;
      margin-bottom: 35px; }
    .try-it-today-product .block-smail-2 .bottom {
      background-image: url("/img/2.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 192px;
      border-radius: 16px; }

.always-tasty-burger {
  margin: 70px 30px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .always-tasty-burger .always-tasty-burger__block {
    width: 229px;
    height: 50px;
    background-color: #ffc045;
    display: flex;
    justify-content: center;
    align-items: center; }
    .always-tasty-burger .always-tasty-burger__block p {
      font-size: 25px;
      line-height: 38px;
      color: #3d2514;
      font-weight: 600;
      font-family: "Bebas Neue";
      margin: 0; }
  .always-tasty-burger .choose-enjoy {
    margin-top: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .always-tasty-burger .choose-enjoy h1 {
      font-size: 50px;
      line-height: 38px;
      color: #3d2514;
      font-weight: 400;
      font-family: "Alfa Slab One";
      margin: 0; }
    .always-tasty-burger .choose-enjoy p {
      margin: 30px 0 0 0;
      width: 75%;
      font-size: 17px;
      line-height: 29px;
      color: #3d2514;
      font-weight: 400;
      font-family: "Montserrat";
      text-align: center; }
  .always-tasty-burger .products-burger {
    margin-top: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .always-tasty-burger .products-burger .burger {
      width: 25%;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center; }
      .always-tasty-burger .products-burger .burger h3 {
        margin: 35px 0 10px 0;
        font-size: 38px;
        line-height: 38px;
        color: #3d2514;
        font-weight: 700;
        font-family: "Bebas Neue"; }
      .always-tasty-burger .products-burger .burger p {
        margin: 0;
        font-size: 17px;
        line-height: 21px;
        color: #3d2514;
        font-weight: 400;
        font-family: "Montserrat";
        text-align: center; }
      .always-tasty-burger .products-burger .burger a {
        background-color: #bf2222;
        text-decoration: none;
        border: none;
        margin-top: 33px;
        width: 50%;
        padding: 8px 12px;
        font-size: 17px;
        line-height: 38px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Alfa Slab One";
        text-align: center;
        transition: 0.3s ease;
        transform: translateX(35%); }
      .always-tasty-burger .products-burger .burger a:hover {
        opacity: 0.6; }

.discover {
  margin: 130px 75px 65px 75px;
  height: 493px;
  display: flex;
  position: relative;
  box-shadow: 25px 25px 30px rgba(83, 0, 0, 0.17); }
  .discover .discover__text {
    margin: 65px 45px 65px 60px;
    width: 50%; }
    .discover .discover__text p {
      font-size: 29px;
      letter-spacing: 2px;
      line-height: 46px;
      color: #3d3d3d;
      font-weight: 700;
      font-family: "Bebas Neue";
      margin: 0; }
    .discover .discover__text h2 {
      font-size: 42px;
      line-height: 46px;
      color: #3d2514;
      font-weight: 400;
      font-family: "Alfa Slab One";
      margin: 0 0 28px 0; }
    .discover .discover__text .text {
      width: 100%;
      font-size: 18px;
      line-height: 33px;
      color: #3d3d3d;
      font-weight: 400;
      font-family: "Montserrat"; }
    .discover .discover__text .ba-cham {
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 0 0 30px 60px; }
  .discover .discover__img {
    width: 50%;
    margin: 27px;
    background-image: url("/img/6.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

.book {
  position: relative;
  margin-top: 15px; }
  .book .img-burger {
    position: absolute;
    transform: translate(-20%, -17%);
    top: 0;
    left: 0; }
  .book .titel {
    text-align: center;
    padding-top: 44px; }
    .book .titel p {
      margin: 0 0 23px 0;
      font-size: 29px;
      letter-spacing: 2px;
      line-height: 46px;
      color: #3d2514;
      font-weight: 700;
      font-family: "Bebas Neue"; }
    .book .titel h1 {
      margin: 0;
      font-size: 50px;
      letter-spacing: 2px;
      line-height: 46px;
      color: #3d2514;
      font-weight: 400;
      font-family: "Alfa Slab One"; }
  .book .img-drink {
    position: absolute;
    transform: translate(30%, 0%); }
  .book .book-table {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 88px 300px 0 300px;
    flex-wrap: wrap; }
    .book .book-table input {
      width: 350px;
      height: 56px;
      margin: 0 20px 20px 0;
      border-radius: 5px;
      background-color: rgba(235, 174, 76, 0);
      border: 1px solid #bebebe;
      padding-left: 20px;
      font-size: 21px;
      line-height: 46px;
      color: #3d3d3d;
      font-weight: 400;
      font-family: "Bebas Neue"; }
    .book .book-table button {
      width: 379px;
      height: 56px;
      margin: 0 20px 20px 0;
      border-radius: 5px;
      border: none;
      background-color: #bf2222;
      font-size: 21px;
      line-height: 46px;
      color: #ffffff;
      font-weight: 400;
      font-family: "Alfa Slab One";
      cursor: pointer;
      transition: 0.3s ease; }
    .book .book-table button:hover {
      opacity: 0.6; }
  .book .img-burger-2 {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(45%, 33%); }

.footer {
  background-image: url("/img/11.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 180px 57px 66px 57px;
  display: flex;
  position: relative;
  justify-content: space-between; }
  .footer .logo-text {
    padding: 84px 43px;
    width: 40%; }
    .footer .logo-text p {
      font-size: 15px;
      line-height: 25px;
      color: #ffffff;
      font-weight: 400;
      font-family: "Montserrat"; }
  .footer .address-email {
    padding: 150px 70px 0 0; }
    .footer .address-email .address__email {
      display: flex; }
      .footer .address-email .address__email p {
        padding-left: 20px;
        font-size: 21px;
        line-height: 38px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Bebas Neue";
        margin: 10px; }
  .footer .companyname {
    position: absolute;
    left: 50px;
    bottom: 0;
    font-size: 17px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Bebas Neue"; }
  .footer .icon {
    position: absolute;
    display: flex;
    right: 20px;
    bottom: 20px; }
    .footer .icon a {
      text-decoration: none;
      margin-left: 16px;
      transition: 0.3s ease; }
    .footer .icon a:hover {
      opacity: 0.6; }

@media only screen and (min-width: 575px) and (max-width: 768px) {
  .header {
    padding: 16px 16px 32px 16px; }
  .header .logo-contact .logo {
    height: 44px; }
  .header .logo-contact .contact .logo-vehicle {
    height: 24px; }
  .header .logo-contact .contact .phone {
    font-size: 12px; }
  .header .menu .menu-items a {
    margin-left: 37px;
    font-size: 19px; }
  .header .header-content .info p {
    width: 100%;
    font-size: 13px;
    padding: 2px; }
  .header .header-content .info h1 {
    font-size: 44px;
    margin: 4px 0 4px 0; }
  .header .header-content .info h3 {
    font-size: 36px;
    line-height: 36px; }
  .header .header-content .img img {
    height: 133px; }
  .header .header-content .img .sale {
    width: 65px;
    height: 65px; }
  .header .header-content .img .sale .sale-netdut {
    width: 50px;
    height: 50px; }
  .header .header-content .img .sale .sale-netdut h2 {
    font-size: 19px;
    line-height: 8px; }
  .header .header-content .img .sale .sale-netdut h2 span {
    font-size: 12px; }
  .header .header-content .img .sale .sale-netdut .only {
    font-size: 12px; }
  .try-it-today-product {
    margin: 78px 16px 0 16px; }
  .try-it-today-product .block-smail-2 {
    margin-left: 8px; }
  .try-it-today-product .try-it-today {
    font-size: 16px; }
  .try-it-today-product .try-it-today-info {
    font-size: 32px;
    line-height: 32px; }
  .always-tasty-burger .always-tasty-burger__block {
    width: 200px;
    height: 40px; }
  .always-tasty-burger .always-tasty-burger__block p {
    font-size: 21px; }
  .always-tasty-burger .choose-enjoy h1 {
    font-size: 44px;
    line-height: 16px; }
  .always-tasty-burger .choose-enjoy p {
    font-size: 14px;
    line-height: 22px; }
  .always-tasty-burger .products-burger .burger h3 {
    font-size: 20px;
    line-height: 20px; }
  .always-tasty-burger .products-burger .burger p {
    margin: 0;
    font-size: 10px;
    line-height: 14px; }
  .always-tasty-burger .products-burger .burger a {
    font-size: 8px;
    line-height: 16px;
    transform: translateX(24%); }
  .discover {
    margin: 64px 16px 65px 16px; }
  .discover .discover__text {
    margin: 36px 2px 8px 4px; }
  .discover .discover__text p {
    font-size: 16px;
    line-height: 16px; }
  .discover .discover__text h2 {
    font-size: 21px;
    line-height: 21px;
    margin: 0 0 21px 0; }
  .discover .discover__text .text {
    font-size: 10px;
    line-height: 16px; }
  .discover .discover__img {
    margin: 4px; }
  .img-burger img {
    height: 225px; }
  .book .titel p {
    margin: 0px 0 0px 0;
    font-size: 16px;
    line-height: 16px; }
  .book .titel h1 {
    font-size: 29px; }
  .img-drink img {
    height: 215px;
    transform: translate(0%, 16%); }
  .img-burger-2 img {
    height: 315px;
    transform: translate(0%, 50%); }
  .book .book-table {
    margin: 44px 150px 0 150px; }
  .footer {
    margin: 50px 16px 24px 16px; }
  .footer .logo-text {
    padding: 40px 21px; }
  .logo-text img {
    height: 40px; }
  .footer .logo-text p {
    font-size: 8px;
    line-height: 16px; }
  .footer .address-email {
    padding: 64px 24px 0 0; }
  .address-email img {
    width: 16px; }
  .footer .address-email .address__email p {
    padding-left: 12px;
    font-size: 10px;
    margin: -4px; }
  .footer .companyname {
    font-size: 10px; }
  .footer .icon a {
    margin-left: 12px; }
    .footer .icon a img {
      width: 20px; } }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .header {
    padding: 35px 36px 50px 35px; }
  .header .logo-contact .logo {
    height: 48px; }
  .header .logo-contact .contact .logo-vehicle {
    height: 27px; }
  .header .logo-contact .contact .phone {
    font-size: 13px; }
  .header .menu {
    margin: 0; }
  .header .menu .menu-items a {
    margin-left: 30px;
    font-size: 16px; }
  .header .header-content .info p {
    width: 44%;
    font-size: 9px;
    padding: 2px; }
  .header .header-content .info h1 {
    font-size: 71px;
    margin: 12px 0 12px 0; }
  .header .header-content .info h3 {
    font-size: 50px; }
  .header .header-content .img img {
    height: 168px; }
  .header .header-content .img .sale {
    width: 100px;
    height: 100px; }
  .header .header-content .img .sale .sale-netdut {
    width: 75px;
    height: 76px; }
  .header .header-content .img .sale .sale-netdut h2 {
    font-size: 34px; }
  .header .header-content .img .sale .sale-netdut h2 span {
    font-size: 18px; }
  .header .header-content .img .sale .sale-netdut .only {
    font-size: 18px;
    margin-top: -10px; }
  .try-it-today-product {
    margin: 50px 35px 0 35px; }
  .try-it-today-product .block-smail-2 {
    margin-left: 24px; }
  .always-tasty-burger {
    margin: 60px 30px; }
  .always-tasty-burger .choose-enjoy p {
    margin: 21px 0 0 0;
    font-size: 14px; }
  .always-tasty-burger .products-burger {
    margin-top: 50px; }
  .always-tasty-burger .products-burger .burger h3 {
    font-size: 28px; }
  .always-tasty-burger .products-burger .burger p {
    font-size: 12px; }
  .always-tasty-burger .products-burger .burger a {
    font-size: 12px;
    transform: translateX(24%);
    margin-top: 24px; }
  .discover {
    margin: 100px 28px 65px 28px; }
  .discover .discover__text {
    margin: 36px 0px 65px 4px; }
  .discover .discover__text p {
    font-size: 21px; }
  .discover .discover__text h2 {
    font-size: 36px;
    line-height: 36px;
    margin: 0px 0 16px 0; }
  .discover .discover__text .text {
    width: 100%;
    font-size: 12px; }
  .discover .discover__img {
    margin: 12px; }
  .img-burger img {
    height: 250px; }
  .book .titel p {
    margin: 0px 0 0px 0;
    font-size: 24px; }
  .book .titel h1 {
    font-size: 44px; }
  .img-drink img {
    height: 300px; }
  .img-burger-2 img {
    height: 450px; }
  .book .book-table {
    margin: 44px 220px 0 220px; }
  .footer {
    margin: 50px 35px 66px 35px; }
  .footer .logo-text {
    padding: 40px 40px; }
  .logo-text img {
    height: 60px; }
  .footer .logo-text p {
    font-size: 12px;
    line-height: 20px; }
  .footer .address-email {
    padding: 90px 40px 0 0; }
  .address-email img {
    width: 20px; }
  .footer .address-email .address__email p {
    padding-left: 12px;
    font-size: 14px; }
  .footer .companyname {
    font-size: 12px; } }

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .header .menu .menu-items a {
    margin-left: 44px;
    font-size: 20px; }
  .header .header-content .info p {
    font-size: 17px;
    padding: 2px; }
  .header .header-content .info h1 {
    font-size: 87px; }
  .header .header .header-content .info h3 {
    font-size: 52px; }
  .header .header-content .img img {
    height: 270px; }
  .header .header-content .img .sale {
    width: 130px;
    height: 130px; }
  .header .header-content .img .sale .sale-netdut {
    width: 110px;
    height: 110px; }
  .header .header-content .img .sale .sale-netdut h2 {
    font-size: 44px; }
  .header .header-content .img .sale .sale-netdut h2 span {
    font-size: 28px; }
  .header .header-content .img .sale .sale-netdut .only {
    font-size: 24px; }
  .always-tasty-burger .choose-enjoy p {
    font-size: 16px; }
  .always-tasty-burger .products-burger .burger h3 {
    font-size: 37px; }
  .always-tasty-burger .products-burger .burger p {
    font-size: 16px; }
  .always-tasty-burger .products-burger .burger a {
    font-size: 16px; }
  .discover .discover__text p {
    font-size: 27px; }
  .discover .discover__text h2 {
    font-size: 40px;
    margin: 0 0 12px 0; }
  .discover .discover__text .text {
    font-size: 12px;
    line-height: 23px; }
  .footer .logo-text img {
    height: 85px; }
  .footer .logo-text p {
    font-size: 12px; }
  .footer .address-email .address__email p {
    font-size: 18px; } }
