@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas%20Neue&display=swap");
@import url("https://fonts.googleapis.com/css?family=Alfa%20Slab%20One&display=swap");
body {
  width: 1440px;
  background-color: #ffffff;
  overflow: auto;
  box-sizing: border-box; }

.header {
  padding: 57px;
  background-color: #ffc045; }
  .header .logo-contact {
    display: flex;
    justify-content: space-between; }
    .header .logo-contact .logo {
      width: 264px;
      height: 60px; }
    .header .logo-contact .contact {
      display: flex;
      align-items: center; }
      .header .logo-contact .contact .logo-vehicle {
        padding-right: 12px;
        width: 42px;
        height: 33px; }
      .header .logo-contact .contact .phone {
        font-size: 17px;
        line-height: 71px;
        color: #3d2514;
        font-weight: 700;
        font-family: "Montserrat";
        text-align: right; }
  .header .menu {
    display: flex;
    float: right; }
    .header .menu .menu-items {
      list-style: none; }
      .header .menu .menu-items a {
        text-decoration: none;
        margin-left: 60px;
        font-size: 21px;
        letter-spacing: 4px;
        color: #3d2514;
        font-weight: 700;
        font-family: "Bebas Neue";
        transition: 0.3s ease; }
      .header .menu .menu-items a:hover {
        opacity: 0.5; }
  .header .header-content {
    display: flex;
    margin-top: 78px; }
    .header .header-content .info {
      width: calc(38.5% - 57px); }
      .header .header-content .info p {
        font-size: 24px;
        line-height: 33px;
        color: #3d2514;
        font-weight: 400;
        font-family: "Bebas Neue";
        padding: 8px;
        margin: 0;
        border: 2px dashed #3d2514;
        text-align: center; }
      .header .header-content .info h1 {
        font-size: 114px;
        line-height: 62px;
        color: #3d2514;
        font-weight: 400;
        font-family: "Alfa Slab One";
        filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
        margin: 35px 0 25px 0; }
      .header .header-content .info h3 {
        font-size: 56px;
        line-height: 62px;
        color: #3d2514;
        font-weight: 400;
        font-family: "Alfa Slab One";
        filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
        margin: 0; }
    .header .header-content .img {
      width: calc(61.5% - 57px);
      margin-left: 170px;
      position: relative; }
      .header .header-content .img .sale {
        width: 174px;
        height: 174px;
        border-radius: 87px;
        background-color: #bf2222;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 65%; }
        .header .header-content .img .sale .sale-netdut {
          width: 151px;
          height: 151px;
          border-radius: 75px;
          background-color: #bf2222;
          border: 2px dashed #ffffff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .header .header-content .img .sale .sale-netdut h2 {
            font-size: 70px;
            line-height: 38px;
            color: #ffffff;
            font-weight: 700;
            font-family: "Bebas Neue";
            text-align: center;
            margin: 0; }
            .header .header-content .img .sale .sale-netdut h2 span {
              font-size: 30px; }
          .header .header-content .img .sale .sale-netdut .only {
            font-size: 30px;
            color: #ffffff;
            font-weight: 700;
            font-family: "Bebas Neue";
            text-align: center;
            margin-top: 7px; }

.try-it-today-product {
  margin: 78px 110px 0 110px;
  height: 420px;
  display: flex;
  justify-content: space-between; }
  .try-it-today-product .try-it-today {
    font-size: 25px;
    line-height: 38px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Bebas Neue";
    margin: 30px 0 0 30px; }
  .try-it-today-product .try-it-today-info {
    font-size: 43px;
    display: block;
    line-height: 38px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Bebas Neue";
    margin: 0 0 0 30px; }
  .try-it-today-product .block-big {
    width: 49%;
    background-image: url("/img/3.png");
    border-radius: 16px; }
  .try-it-today-product .block-smail-2 {
    margin-left: 47px;
    width: 51%;
    display: flex;
    flex-direction: column; }
    .try-it-today-product .block-smail-2 .top {
      background-image: url("/img/1.png");
      height: 192px;
      border-radius: 16px;
      margin-bottom: 35px; }
    .try-it-today-product .block-smail-2 .bottom {
      background-image: url("/img/2.png");
      height: 192px;
      border-radius: 16px; }

.always-tasty-burger {
  margin: 70px 30px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .always-tasty-burger .always-tasty-burger__block {
    width: 229px;
    height: 50px;
    background-color: #ffc045;
    display: flex;
    justify-content: center;
    align-items: center; }
    .always-tasty-burger .always-tasty-burger__block p {
      font-size: 25px;
      line-height: 38px;
      color: #3d2514;
      font-weight: 600;
      font-family: "Bebas Neue";
      margin: 0; }
  .always-tasty-burger .choose-enjoy {
    margin-top: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .always-tasty-burger .choose-enjoy h1 {
      font-size: 50px;
      line-height: 38px;
      color: #3d2514;
      font-weight: 400;
      font-family: "Alfa Slab One";
      margin: 0; }
    .always-tasty-burger .choose-enjoy p {
      margin: 30px 0 0 0;
      width: 75%;
      font-size: 17px;
      line-height: 29px;
      color: #3d2514;
      font-weight: 400;
      font-family: "Montserrat";
      text-align: center; }
  .always-tasty-burger .products-burger {
    margin-top: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .always-tasty-burger .products-burger .burger {
      width: 25%;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center; }
      .always-tasty-burger .products-burger .burger h3 {
        margin: 35px 0 10px 0;
        font-size: 38px;
        line-height: 38px;
        color: #3d2514;
        font-weight: 700;
        font-family: "Bebas Neue"; }
      .always-tasty-burger .products-burger .burger p {
        margin: 0;
        font-size: 17px;
        line-height: 21px;
        color: #3d2514;
        font-weight: 400;
        font-family: "Montserrat";
        text-align: center; }
      .always-tasty-burger .products-burger .burger a {
        background-color: #bf2222;
        text-decoration: none;
        border: none;
        margin-top: 33px;
        width: 50%;
        padding: 8px 12px;
        font-size: 17px;
        line-height: 38px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Alfa Slab One";
        text-align: center;
        transition: 0.3s ease;
        transform: translateX(35%); }
      .always-tasty-burger .products-burger .burger a:hover {
        opacity: 0.6; }

.discover {
  margin: 130px 75px 65px 75px;
  height: 493px;
  display: flex;
  box-shadow: 25px 25px 30px rgba(83, 0, 0, 0.17); }
  .discover .discover__text {
    margin: 65px 45px 65px 60px;
    width: 50%; }
    .discover .discover__text p {
      font-size: 29px;
      letter-spacing: 2px;
      line-height: 46px;
      color: #3d3d3d;
      font-weight: 700;
      font-family: "Bebas Neue";
      margin: 0; }
    .discover .discover__text h2 {
      font-size: 42px;
      line-height: 46px;
      color: #3d2514;
      font-weight: 400;
      font-family: "Alfa Slab One";
      margin: 0 0 28px 0; }
    .discover .discover__text .text {
      width: 100%;
      font-size: 18px;
      line-height: 33px;
      color: #3d3d3d;
      font-weight: 400;
      font-family: "Montserrat"; }
    .discover .discover__text .ba-cham {
      margin-top: 65px; }
  .discover .discover__img {
    width: 50%;
    margin: 27px; }

.book {
  position: relative;
  margin-top: 15px; }
  .book .img-burger {
    position: absolute;
    transform: translate(-20%, -17%);
    top: 0;
    left: 0; }
  .book .titel {
    text-align: center;
    padding-top: 44px; }
    .book .titel p {
      margin: 0 0 23px 0;
      font-size: 29px;
      letter-spacing: 2px;
      line-height: 46px;
      color: #3d2514;
      font-weight: 700;
      font-family: "Bebas Neue"; }
    .book .titel h1 {
      margin: 0;
      font-size: 50px;
      letter-spacing: 2px;
      line-height: 46px;
      color: #3d2514;
      font-weight: 400;
      font-family: "Alfa Slab One"; }
  .book .img-drink {
    position: absolute;
    transform: translate(30%, 0%); }
  .book .book-table {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 88px 300px 0 300px;
    flex-wrap: wrap; }
    .book .book-table input {
      width: 350px;
      height: 56px;
      margin: 0 20px 20px 0;
      border-radius: 5px;
      background-color: rgba(235, 174, 76, 0);
      border: 1px solid #bebebe;
      padding-left: 20px;
      font-size: 21px;
      line-height: 46px;
      color: #3d3d3d;
      font-weight: 400;
      font-family: "Bebas Neue"; }
    .book .book-table button {
      width: 379px;
      height: 56px;
      margin: 0 20px 20px 0;
      border-radius: 5px;
      border: none;
      background-color: #bf2222;
      font-size: 21px;
      line-height: 46px;
      color: #ffffff;
      font-weight: 400;
      font-family: "Alfa Slab One";
      cursor: pointer;
      transition: 0.3s ease; }
    .book .book-table button:hover {
      opacity: 0.6; }
  .book .img-burger-2 {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(45%, 33%); }

.footer {
  background-image: url("/img/11.png");
  margin: 180px 57px 66px 57px;
  display: flex;
  position: relative;
  justify-content: space-between; }
  .footer .logo-text {
    padding: 84px 43px;
    width: 40%; }
    .footer .logo-text p {
      font-size: 17px;
      line-height: 25px;
      color: #ffffff;
      font-weight: 400;
      font-family: "Montserrat"; }
  .footer .address-email {
    padding: 150px 126px 0 0; }
    .footer .address-email .address__email {
      display: flex; }
      .footer .address-email .address__email p {
        padding-left: 20px;
        font-size: 21px;
        line-height: 38px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Bebas Neue"; }
  .footer .companyname {
    position: absolute;
    left: 50px;
    bottom: 0;
    font-size: 17px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Bebas Neue"; }
  .footer .icon {
    position: absolute;
    display: flex;
    right: 20px;
    bottom: 20px; }
    .footer .icon a {
      text-decoration: none; }
    .footer .icon img {
      margin-left: 16px; }
