.discover {
    margin: 130px 75px 65px 75px;
    height: 493px;
    display: flex;
    position: relative;
    // filter: drop-shadow(18.656px 24.758px 21.5px rgba(83, 0, 0, 0.17));
    box-shadow: 25px 25px 30px rgba(83, 0, 0, 0.17);
    .discover__text {
        margin: 65px 45px 65px 60px;
        width: 50%;
        p {
            font-size: 29px;
            letter-spacing: 2px;
            line-height: 46px;
            color: #3d3d3d;
            font-weight: 700;
            font-family: "Bebas Neue";
            margin: 0;
        }

        h2 {
            font-size: 42px;
            line-height: 46px;
            color: #3d2514;
            font-weight: 400;
            font-family: "Alfa Slab One";
            margin: 0 0 28px 0;
        }

        .text {
            width: 100%;
            font-size: 18px;
            line-height: 33px;
            color: #3d3d3d;
            font-weight: 400;
            font-family: "Montserrat";
        }

        .ba-cham {
            position: absolute;
            left: 0;
            bottom: 0;
            margin: 0 0 30px 60px;
        }
    }

    .discover__img {
        width: 50%;
        margin: 27px;
        background-image: url("/img/6.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }


}
