.always-tasty-burger {
    margin: 70px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .always-tasty-burger__block {
        width: 229px;
        height: 50px;
        background-color: #ffc045;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 25px;
            line-height: 38px;
            color: #3d2514;
            font-weight: 600;
            font-family: "Bebas Neue";
            margin: 0;
        }
    }

    .choose-enjoy {
        margin-top: 35px;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;

        h1 {
            font-size: 50px;
            line-height: 38px;
            color: #3d2514;
            font-weight: 400;
            font-family: "Alfa Slab One";
            margin: 0;
        }

        p {
            margin: 30px 0 0 0;
            width: 75%;
            font-size: 17px;
            line-height: 29px;
            color: #3d2514;
            font-weight: 400;
            font-family: "Montserrat";
            text-align: center;
        }
    }

    .products-burger {
        margin-top: 65px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .burger {
            width: 25%;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            // img {
                
            // }

            h3 {
                margin: 35px 0 10px 0;
                font-size: 38px;
                line-height: 38px;
                color: #3d2514;
                font-weight: 700;
                font-family: "Bebas Neue";
            }

            p {
                margin: 0;
                font-size: 17px;
                line-height: 21px;
                color: #3d2514;
                font-weight: 400;
                font-family: "Montserrat";
                text-align: center;
            }

            a {
                background-color: #bf2222;
                text-decoration: none;
                border: none;
                margin-top: 33px;
                width: 50%;
                padding: 8px 12px;
                font-size: 17px;
                line-height: 38px;
                color: #ffffff;
                font-weight: 400;
                font-family: "Alfa Slab One";
                text-align: center;
                transition: 0.3s ease;
                transform: translateX(35%);
            }

            a:hover {
                opacity: 0.6;
            }
        }
    }
}